* {
    margin: 0;
    padding: 0;
}

section {
    max-width: 800px;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

table {
    background-color: rgba(19, 124, 89, 0.252);
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
}

tr,
td,
th {
    padding: 0 1%;
    border: 1px solid gray;
    text-align: left;
    min-width: 150px;
    overflow: hidden;
}

tr:nth-child(odd) {
    background-color: rgba(14, 78, 57, 0.252);
}